header{
    background-color: #0097b2;
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    border-width: .2rem;
    height: 5rem;
    align-items: center;
    }
   
header>h1{
    font-family: 'Cedarville Cursive'; 
    font-size: large;
}
header>nav>a{
    border-style: solid;
    border-width: .1rem;
    font-family: 'Bebas Neue';
    font-size: x-small;
    background-color: white;
    text-align: center;
    
  
    }
    header>nav{
       display: flex;
        flex-direction: column;
        transform: rotate(90deg);
        justify-content: center;
        width: 5.2rem;
        color: black;
    }
.logo{
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
  
}
body{
   background-color:#38b6ff;
   
    
}
p{
    background-color: white;
    width: 10rem;
    padding: 2rem;
   border-style: solid;
   border-width: .5rem;
   text-align: center;
   font-size: small;
   margin: auto;
  margin-top: 2rem;
   
}
.intro{
    display: block;
    margin: auto;
    justify-items: center;
}
.cupcake{
    width: 10rem;
    height: 12rem;
    justify-content: center;
}
.bone{
    width: 10rem;
   

}
.peanut{
    width: 10rem;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    background-color: #0097b2;
    border-style: solid;
    border-radius: 2rem;
    text-align: center;
    

}
h2{
    background-color: white;
    border-style: solid;
    text-align: center;
    
}
.bacon{
    display: block;
  margin: auto;
    justify-content: center;
    width: 10rem;
    height: 12rem;
    margin-top: 5rem;
}
.clickhere{
    background-color: white;
    border-style: solid;
    border-radius: 1rem;
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 2rem;

}.FAQS{
    background-color: white;
    border-style: solid;
    padding: 2rem;
    width: 10rem;
    height: 12rem;
    display: block;
    margin: auto ;
    text-align: center;
}
.blog{
    height: 10rem;
    width: 8rem;
    display: block;
    margin: auto;
}
section span{
    position: absolute;
}
.FAQS{
    border-style: solid;
    background-color: white;
    height: auto;
}
li{
    font-size: medium;
    text-align: center;
    
}
il{
    color:#0097b2;
    text-align: center;
    font-size: small;
}
.product-item{
    text-align: center;
}
@media(min-width:768px){
    header{
        background-color: #0097b2;
        display: flex;
        justify-content: space-between;
        border-color: black;
        border-style: solid;
        border-width: .2rem;
        height: 8rem;
        align-items: center;
        }
       
    header>h1{
        font-family: 'Cedarville Cursive'; 
        font-size: xx-large;
    }
    header>nav>a{
        border-style: solid;
        border-width: .1rem;
        font-family: 'Bebas Neue';
        font-size: medium;
        background-color: white;
        text-align: center;
        
      
        }
        header>nav{
           display: flex;
            flex-direction: column;
            transform: rotate(90deg);
            justify-content: center;
            width: 8rem;
            color: black;
        }
    .logo{
        width: 6rem;
        height: 3rem;
        margin-left: 1rem;
      
    }
    body{
        background-color:#38b6ff;
       
        
    }
    p{
        background-color: white;
        width: 15rem;
        height: 8rem;
        padding: 2rem;
       border-style: solid;
       border-width: .5rem;
       text-align: center;
       font-size: large;
       margin: auto;
       margin-top: 2rem;
       
    }
    .intro{
        display: block;
        margin: auto;
        justify-items: center;
        
    }
    .cupcake{
        width: 10rem;
        height: 12rem;
        justify-content: center;
    }
    .bone{
        width: 10rem;
       
    
    }
    .peanut{
        width: 10rem;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h3{
        background-color: #0097b2;
        border-style: solid;
        border-radius: 2rem;
        text-align: center;
        
    
    }
    h2{
        background-color: white;
        border-style: solid;
        text-align: center;
        
    }
    .bacon{
        display: block;
      margin: auto;
        justify-content: center;
        width: 10rem;
        height: 12rem;
        margin-top: 5rem;
    }
    .clickhere{
        background-color: white;
        border-style: solid;
        border-radius: 1rem;
        color: black;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    
    }.FAQS{
        background-color: white;
        border-style: solid;
        padding: 2rem;
        width: 20rem;
        height: 30rem;
        display: block;
        margin: auto ;
        text-align: center;
    }
    .blog{
        height: 25rem;
        width: 20rem;
        display: block;
        margin: auto;
    }
    section span{
        position: absolute;
    }
    .FAQS{
        border-style: solid;
        background-color: white;
        height: auto;
    }
    li{
        font-size: xx-large;
        text-align: center;
        
        
    }
    il{
        color:#0097b2;
        text-align: center;
        font-size: x-large;
    }
    .product-item{
        text-align: center;
    }
    
    .intro>h2{
    width: auto;

    }
    
    .intro>p{
        width: 30rem;
        height: auto;
        font-size: x-large;
    }
}
@media(min-width:897px){
    header{
        background-color: #0097b2;
        display: flex;
        justify-content: space-between;
        border-color: black;
        border-style: solid;
        border-width: .2rem;
        height: 8rem;
        align-items: center;
        }
       
    header>h1{
        font-family: 'Cedarville Cursive'; 
        font-size: xx-large;
    }
    header>nav>a{
        border-style: solid;
        border-width: .1rem;
        font-family: 'Bebas Neue';
        font-size: medium;
        background-color: white;
        text-align: center;
        
      
        }
        header>nav{
           display: flex;
            flex-direction: column;
            transform: rotate(90deg);
            justify-content: center;
            width: 8rem;
            color: black;
        }
    .logo{
        width: 6rem;
        height: 3rem;
        margin-left: 1rem;
      
    }
    body{
       background-color:#38b6ff;
       
        
    }
    p{
        background-color: white;
        width: 15rem;
        height: 8rem;
        padding: 2rem;
       border-style: solid;
       border-width: .5rem;
       text-align: center;
       font-size: large;
       margin: auto;
       margin-top: 2rem;
       
    }
    .intro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .cupcake{
        width: 10rem;
        height: 12rem;
        justify-content: center;
    }
    .bone{
        width: 10rem;
       
    
    }
    .peanut{
        width: 10rem;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h3{
        background-color: #0097b2;
        border-style: solid;
        border-radius: 2rem;
        text-align: center;
        
    
    }
    h2{
        background-color: white;
        border-style: solid;
        text-align: center;
        
    }
    .bacon{
        display: block;
      margin: auto;
        justify-content: center;
        width: 10rem;
        height: 12rem;
        margin-top: 5rem;
    }
    .clickhere{
        background-color: white;
        border-style: solid;
        border-radius: 1rem;
        color: black;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    
    }.FAQS{
        background-color: white;
        border-style: solid;
        padding: 2rem;
        width: 20rem;
        height: 30rem;
        display: block;
        margin: auto ;
        text-align: center;
    }
    .blog{
        height: 25rem;
        width: 20rem;
        display: block;
        margin: auto;
    }
    
    .FAQS{
        border-style: solid;
        background-color: white;
        height: auto;
    }
    li{
        font-size: xx-large;
        text-align: center;
        
        
    }
    il{
        color:#0097b2;
        text-align: center;
        font-size: x-large;
    }
 

.intro{
    display: block;
    margin: auto;
    justify-items: center;
}
    .intro>h2{
    width: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    }
    .intro>p{
        width: 40rem;
        height:auto;
        font-size: x-large;
        background-color: white;
        padding: 2rem;
        border-style: solid;
        border-width: .5rem;
        text-align: center;
        margin: auto;
    }
}